{% extends 'base.html' %}

{% block title %}
    Registro de Usuario
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Registro de Nuevo Usuario</h3>
                    <form action="/registro" method="post">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre completo</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" required>
                        </div>

                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo electrónico</label>
                            <input type="email" class="form-control" id="correo" name="correo" required>
                        </div>

                        <div class="mb-3">
                            <label for="contraseña" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contraseña" name="contraseña" required>
                        </div>

                        <div class="mb-3">
                            <label for="rol" class="form-label">Rol</label>
                            <select class="form-control" id="rol" name="rol" required>
                                <option value="cliente">Cliente</option>
                                <option value="administrador">Administrador</option>
                            </select>
                        </div>

                        <button type="submit" class="btn" style="background-color: #169c4b; color: white; width: 100%;">Registrar</button>

                        {% if msg %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ msg }}
                        </div>
                        {% endif %}
                    </form>

                    <p class="mt-3 text-center">¿Ya tienes cuenta? <a href="/login">Inicia sesión aquí</a></p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
